*{
    margin: 0px ;
    padding:0px ;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(155deg, #159F84 10%25%,#C9E9F4 25%60%, blue);

}

#section1{
    display: flex;
    flex-direction: row;
    margin: 125px ;
    max-width: 80dvw ;
}

#section1 img{
    float: left;
    max-width: 30dvw ;
    height: auto;
    /* background-color: chocolate; */
    object-fit: contain;
}
#section1 #description{
    margin : 100px 0px  ;
    background-color: rgb(195, 222, 20);
    box-shadow: 2px 2px 2px rgb(58, 53, 53) ;
    display: flex;
    position: relative;
    flex-direction: column;
}

#section1 div h2{

    background-color:white ;
}
#section1 p{
    padding: 25px;
    text-align: left;
    min-height: 50% ;
    background-color:white ;
}

#icons-wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
    /* align-self: flex-end; */
    position: absolute;
    bottom :8px ;
    right : 8px ;
}

#icons-wrapper img{
    width: 25px;
}

h2{
font-size: 25px;
padding: 25px ;
}

#section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80dvw;
    background-color: bisque;
}

#section2 #cards-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
}


#section2 .card{

    max-width: 30dvw;

}


#section2 img{
    max-width: 30dvw;
}

#section2 h3{
    position: relative;    
}
.icons-wrapper2 {
    display : flex ;
    flex-direction: row;
    position: absolute;
    top :5px ;
    right: 10px;

}
.icons-wrapper2 img{
    width: 25px;
}

.card p   {
    padding : 25px ;
}
